*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(./assets/image/bg_main.gif) center;
}
/* common css end */
/* header part start */
.cont{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}
.topbar{
    background: #9E5BBA;
    height: 28px;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    border-bottom: 1px solid red;
}
.top-right p{
    display: inline-block;
    border-right: 1px solid white;
    padding-right: 5px;
    margin-right: 5px;

}
.top-right a{
    color: white;
    text-decoration: none;
}
/* header part end */
/* logo part start */
.logo{
    height: 110px;
}
.logo_left{
    line-height: 110px;
}
.logo_search{
    padding-top: 45px;
}
.logo_search input{
    width: 65%;
    padding: 5px;
    font-size: 12px;
}
    .logo_search button{
        border: 1px solid #aaa;
        border-radius: 3px;
        color: #444;
        display: inline-block;
        font-size: 14px;
        text-decoration: none;
        padding: 4px;
    }
    .logo1 img{
        width: 40px;
        height: 40px;
        margin-top: 32px;
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid black;
    }
    .logo2 p{
       margin-bottom: 0;
       font-size: 10px;
       font-weight: bold;
       margin-top: 31px;
    }
/* logo part end */
/* hero main start */
.banner{
    border: 2px solid red;
    padding: 8px;
}
/* hero main end*/
/* slider part start */
.slider img{
    height: 250px;
    padding-top: 20px;

}
/* slider part end */
.aa{

}